body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Heebo', sans-serif;
}

.header {
    text-align: center;
    padding: 0;
    margin-top: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-slider {
    width: 80%;
    padding: 0 0 1rem 0;
}

.stops-slider {
    width: 80%;
    padding: 0 0 0.5rem 0;
}

.big-font {
    font-size: xx-large;
}

.time-left {
    display: none;
    text-align: center;
    font-size: 81px;
    margin-bottom: 33px;
}

.buttons-container {
    flex-direction: row;
}

.statusbar {
    padding-top: 0;
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;
}

.stops-list {
    margin: 10px 0 0 0;
    padding: 0;
}

.listItems {
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    font-size: large;
    text-decoration: double;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}